.detailBox{
    border-left-width: 0pt; 
    border-right-width: 0pt;
    border-top-left-radius: 0pt !important; /*override list-group-item*/
    border-top-right-radius: 0pt !important;
    border-bottom-left-radius: 0pt !important;
    border-bottom-right-radius: 0pt !important;
}
.lineHover-bg:hover .detailBox{
    background-color: var(--bs-secondary-bg);
}